.logo_letters{
    font-size: 1vw;
    font-family: monospace;
    line-height: 1.075;
    max-width: 100%;
    margin: 0 auto; /* Center the ASCII art */
    padding: 10px; /* Add some padding */
    text-align: center;
}

@media screen and (min-width: 810px) {
    .logo_letters {
        font-size: 51%;
    }
}

/* other stuff */
.spacer.s2 {
	min-height: 200px;
}

.spacer.s0 {
	min-height: 20%;
}

#trigger{
    position: relative;
    top: 25vh;
}